<header >
  <nav style="min-height: 10vh;"class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><img src="../../public/img/klonck_white.svg" alt="Klonck" class="w-75"></a>
      <div>
      <a class="navbar-brand" href="/home">Home</a>
      <a class="navbar-brand" href="/u/settings">Settings</a>
      <a class="navbar-brand" href="/u/logout">Sign out</a>
      </div>
    </div>
  </nav>
</header>