<div class="h-100 nav flex-column bg-dark text-white">
    <div class="nav-item">
        <p class="nav-link">Online</p>
    </div>
    <ul class="nav flex-column" id="usersUl">
        
    </ul>
</div>

<input hidden value="<%#= user %>" id="username" type="text">
<input hidden value="<%#= user %>" id="id" type="text">

<!--<script src="../../public/scripts/showOnlineUsers.js"></script>-->