<div class="body bg-dark vh-100">
  <main class="form-signin text-center">
    <form action="/u/register" method="POST">

      <h1 class="h3 mb-3 fw-normal"><img src="../../public/img/klonck_white.svg" alt="Klonck" class="w-75"></h1>

      <label for="inputUsername" class="visually-hidden">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username"
        value="<%= typeof username_input != 'undefined' ? username_input : '' %>" required autofocus>

      <label for="inputEmail" class="visually-hidden">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
        value="<%= typeof email_input != 'undefined' ? email_input : '' %>" required>

      <label for="inputPassword" class="visually-hidden">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <button class="w-100 btn btn-lg btn-primary" type="submit">REGISTER</button>
    </form>
    <p class="mt-3"><a href="/u/login">Already have an Klonck-account?</a></p>
    <%- include('./partials/flash') %>
  </main>
</div>